/*---Importer des polices----*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif !important;
}

body {
    background: linear-gradient(208deg, #c3f0ca 13%, #faeee7 70%);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    animation: animate 10s ease infinite;
    }

/*css login*/
.container{
    max-width: 700px;
    width: 100%;
    background: whitesmoke;
    padding: 25px 30px;
    border-radius: 6px;
}

.container .title{
   font-size: 25px;
   font-weight: 500;
   position: relative;
}

.container .title::before{
  content: '';
  position: absolute;
  height: 3px;
  width: 30px;
  left: 0;
  bottom: 0;
  background: #E61644;
}

.container form .Informations-personnelles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

form .Informations-personnelles .input-box{
    margin-top: 8px;
    width: calc(100% / 2 - 20px);
}

.Informations-personnelles .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.Informations-personnelles .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 2px ;
    transition: all 0.3s ease;
}

.Informations-personnelles .input-box input:focus,
.Informations-personnelles .input-box input:valid{
    border-color: rgb(221,82,120);
}

form .button{
    height: 100%;
    width: 100%;
    margin-top: 25px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

form .button .btn{
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: #33272a;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    letter-spacing: 1px;
    background: #ff8ba7;
    background: linear-gradient(120deg, #ff8ba7 17%, #ffc6c7 87%);
}

form .button a:hover{
    background: #ff8ba7;
    background: linear-gradient(120deg, #ff8ba7 17%, #ffc6c7 87%);
}

@media (max-width: 584px){
    .container{
        max-width: 100%;
    }

    form .Informations-personnelles .input-box{
        margin-top: 8px;
        width: 100%;
    }

    .container form .Informations-personnelles{
        max-height: 300px;
        overflow-y: scroll;
    }

    .Informations-personnelles::-webkit-scrollbar{
        width: 0;
    }
}

/*-----Animation------*/

@keyframes animate{
0%{
    background-position: 0 50%;
}

50%{
    background-position: 100% 50%;
}

100%{
    background-position: 0 50%;
}
}
/*Fin css login*/